@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color:#ffffff;
  background: rgb(22, 16, 16);
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  cursor: pointer;
  background-color: transparent;
  color:#0a0a0a;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu:hover {
  background-color: #ffffff;
  color: #0a0a0a;
}
